*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    font-family: sans-serif;
    height: 100vh;
    position: relative;
}

h2{
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 10px;
}

h3{
    font-size: .8rem;
    padding: 15px 10px;
}

label{
    font-size: .9rem;
}

span{
    color: red;
}

.color-blue{
    color: rgb(9, 97,153);
}

form{
    width: 25vw;
    border: 1px solid;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);


    & .proceeding, & .vat-Rate, & .input-Value, & .vat, & .output{
        background-color: rgb(242, 244, 247);
        margin-bottom: 5px;
        padding: 10px;
    }

    #inputValue{
        width: 90px;
        margin-top: 5px;
        padding: 8px;
        border: 1px solid lightgray;
        border-radius: 5px;
            
        &:focus{
            outline: none;
        }
    }

    #seven{
        margin-left: 20px;
    }

    & .execute{
        padding: 5%;
        border-bottom: 2px solid lightgray;
    }

    button{
        width: 100%;
        color:#fff;
        border: unset;
        background-color: rgb(9, 97,153);
        padding: 8px 30px;
        border-radius: 5px;

        &:hover{
            background-color: rgb(74, 118, 146);
        }
    }

    .resultArea{
        margin-bottom: 10px;
    }

    #vatValue, #outputValue{
        font-size: .9rem;
        padding-left: 2px;
    }
}

